
.sidebar-pc {
    display: block;
}

.sidebar-sp {
    display: none;
}

.delimarche-sidebar-category-label {
    a.sidebar-link {
        text-decoration: none;
        color: #000;
    }
}


.sidebar-category-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.sidebar-category-title{
 font-size:17px;
 font-family:"Times New Roman", "游明朝", "游明朝体", "YuMincho", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E";
 margin-top:23px;
 border-bottom: 1px solid #B1AEAE;
}

.header{
  height:60px;
}

.sidebar-responsive{
  width:90%;
  margin:auto;
  height:250px;
}

.nav-link{
  background-color:white;
}

@media (min-width: 768px) {
 .sidebar-category-image {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.sidebar-category-title{
 font-size:17px;
 font-family:"Times New Roman", "游明朝", "游明朝体", "YuMincho", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E";
 margin-top:23px;
 border-bottom: 1px solid #B1AEAE;
}

.sidebar-responsive{
    flex: 0 0 auto;
    width: 16.66666667%;
    margin: 0px;
    height: 1000px;
}

.sidebar-responsive{
    flex: 0 0 auto;
    width: 16.66666667%;
    margin: 0px;
    height: 1000px;
}

.header{
  height:70px;
}
}


@media screen and (max-width: 931px) { 
    .sidebar-pc {
      display: none;
    }
    
    .sidebar-sp {
        display: block;
    }  
    
    #web-index > .row{
        display: block;
    }
    
    #web-index > .products-area {
        flex: auto;
    }
    
}
