// Place all the styles related to the web controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar-pc {
    display: block;
}

.sidebar-sp {
    display: none;
}


@media screen and (max-width: 931px) { 
    .sidebar-pc {
      display: none;
    }
    
    .sidebar-sp {
        display: block;
    }  
    
    #web-index > .row{
        display: block;
    }
    
    #web-index > .products-area {
        flex: auto;
    }
    
}
