<div class="container">
    <h4 class="sidebar-category-title">カテゴリーから探す</h4>
    <% categories.each do |category| %>
        <label class="delimarche-sidebar-category-label">
          <% if category.image_name.present? %>
            <%= image_tag "/images/categories/#{category.image_name}", class: "sidebar-category-image" %>
          <% else %>
            <%= image_tag "/images/categories/dummy.png", class: "sidebar-category-image" %>
          <% end %>
         <%= link_to category.name, products_path(category: category.id), class: "sidebar-link"%>
        </label>
    <% end %>

</div>

<!--major-categoruの条件分岐削除-->
